
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-lg-10 order-md-last">
                <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4  d-flex">

                                <section class="container-audio">
        
                                    <div id="player">
        
                                        <div class="caratula">
                                            <img
                                                src="https://assets.pippa.io/shows/5c883d2570f39db46a199b61/show-cover.jpg">
                                            <div class="more">
                                                <div class="icon-info"></div>
                                            </div>
                                            <div class="bio">
                                                <h2>Teleradio Donoso</h2>
                                                <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                                    en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                                    teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                                    (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                                    Ignacio Aedo.</p>
                                            </div>
                                        </div>
                                        <div class="text py-3 pb-4 px-3">
                                            <div class="d-flex">
                                                <div class="cat">
                                                    <span>Lifestyle</span>
                                                </div>
                                                <div class="rating">
                                                    <p class="text-right mb-0">
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    </p>
                                                </div>
                                            </div>
                                            <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    
        
                                        </div>
        
                                    </div>
                                </section>
                            </div>
                    <div class="col-sm-12 col-md-12 col-lg-4  d-flex">

                        <section class="container-audio">

                            <div id="player">

                                <div class="caratula">
                                    <img
                                        src="http://4.bp.blogspot.com/_NsAexvbcSn0/ST20kHuQRSI/AAAAAAAAA8s/Y3G2PNLdKdU/s400/Teleradio_cover.jpg">
                                    <div class="more">
                                        <div class="icon-info"></div>
                                    </div>
                                    <div class="bio">
                                        <h2>Teleradio Donoso</h2>
                                        <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                            en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                            teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                            (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                            Ignacio Aedo.</p>
                                    </div>
                                </div>
                                <div class="text py-3 pb-4 px-3">
                                    <div class="d-flex">
                                        <div class="cat">
                                            <span>Lifestyle</span>
                                        </div>
                                        <div class="rating">
                                            <p class="text-right mb-0">
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            </p>
                                        </div>
                                    </div>
                                    <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                              

                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4  d-flex">

                            <section class="container-audio">
    
                                <div id="player">
    
                                    <div class="caratula">
                                        <img
                                            src="http://4.bp.blogspot.com/_NsAexvbcSn0/ST20kHuQRSI/AAAAAAAAA8s/Y3G2PNLdKdU/s400/Teleradio_cover.jpg">
                                        <div class="more">
                                            <div class="icon-info"></div>
                                        </div>
                                        <div class="bio">
                                            <h2>Teleradio Donoso</h2>
                                            <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                                en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                                teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                                (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                                Ignacio Aedo.</p>
                                        </div>
                                    </div>
                                    <div class="text py-3 pb-4 px-3">
                                        <div class="d-flex">
                                            <div class="cat">
                                                <span>Lifestyle</span>
                                            </div>
                                            <div class="rating">
                                                <p class="text-right mb-0">
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                            
    
                                    </div>
    
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4  d-flex">

                                <section class="container-audio">
        
                                    <div id="player">
        
                                        <div class="caratula">
                                            <img
                                                src="http://4.bp.blogspot.com/_NsAexvbcSn0/ST20kHuQRSI/AAAAAAAAA8s/Y3G2PNLdKdU/s400/Teleradio_cover.jpg">
                                            <div class="more">
                                                <div class="icon-info"></div>
                                            </div>
                                            <div class="bio">
                                                <h2>Teleradio Donoso</h2>
                                                <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                                    en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                                    teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                                    (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                                    Ignacio Aedo.</p>
                                            </div>
                                        </div>
                                        <div class="text py-3 pb-4 px-3">
                                            <div class="d-flex">
                                                <div class="cat">
                                                    <span>Lifestyle</span>
                                                </div>
                                                <div class="rating">
                                                    <p class="text-right mb-0">
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    </p>
                                                </div>
                                            </div>
                                            <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                        
        
                                        </div>
        
                                    </div>
                                </section>
                            </div>

                    <div class="col-sm-12 col-md-12 col-lg-4  d-flex">
                        <!-- ftco-animate-->
                        <section class="container-audio">
    
                                <div id="player">
    
                                    <div class="caratula">
                                        <img
                                            src="http://4.bp.blogspot.com/_NsAexvbcSn0/ST20kHuQRSI/AAAAAAAAA8s/Y3G2PNLdKdU/s400/Teleradio_cover.jpg">
                                        <div class="more">
                                            <div class="icon-info"></div>
                                        </div>
                                        <div class="bio">
                                            <h2>Teleradio Donoso</h2>
                                            <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                                en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                                teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                                (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                                Ignacio Aedo.</p>
                                        </div>
                                    </div>
                                    <div class="text py-3 pb-4 px-3">
                                        <div class="d-flex">
                                            <div class="cat">
                                                <span>Lifestyle</span>
                                            </div>
                                            <div class="rating">
                                                <p class="text-right mb-0">
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                
    
                                    </div>
    
                                </div>
                            </section>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 d-flex">
                            <!-- ftco-animate-->
                            <section class="container-audio">
        
                                    <div id="player">
        
                                        <div class="caratula">
                                            <img
                                                src="http://4.bp.blogspot.com/_NsAexvbcSn0/ST20kHuQRSI/AAAAAAAAA8s/Y3G2PNLdKdU/s400/Teleradio_cover.jpg">
                                            <div class="more">
                                                <div class="icon-info"></div>
                                            </div>
                                            <div class="bio">
                                                <h2>Teleradio Donoso</h2>
                                                <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                                    en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                                    teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                                    (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                                    Ignacio Aedo.</p>
                                            </div>
                                        </div>
                                        <div class="text py-3 pb-4 px-3">
                                            <div class="d-flex">
                                                <div class="cat">
                                                    <span>Lifestyle</span>
                                                </div>
                                                <div class="rating">
                                                    <p class="text-right mb-0">
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    </p>
                                                </div>
                                            </div>
                                            <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    
        
                                        </div>
        
                                    </div>
                                </section>
                        </div>
                 
                    <div class="col-sm-12 col-md-12 col-lg-4 d-flex">
                        <!-- ftco-animate-->
                        <section class="container-audio">
    
                                <div id="player">
    
                                    <div class="caratula">
                                        <img
                                            src="http://4.bp.blogspot.com/_NsAexvbcSn0/ST20kHuQRSI/AAAAAAAAA8s/Y3G2PNLdKdU/s400/Teleradio_cover.jpg">
                                        <div class="more">
                                            <div class="icon-info"></div>
                                        </div>
                                        <div class="bio">
                                            <h2>Teleradio Donoso</h2>
                                            <p>Teleradio Donoso fue una banda chilena de indie rock y pop rock formada
                                                en 2005, Formada inicialmente por Alex Anwandter (Voz , Guitarra &
                                                teclados), Martín del Real (Guitarra & Coros), Juan Pablo Wasaff
                                                (Batería & Coros) y Cristóbal Fredes (bajo) quien fue remplazado por
                                                Ignacio Aedo.</p>
                                        </div>
                                    </div>
                                    <div class="text py-3 pb-4 px-3">
                                        <div class="d-flex">
                                            <div class="cat">
                                                <span>Lifestyle</span>
                                            </div>
                                            <div class="rating">
                                                <p class="text-right mb-0">
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                
    
                                    </div>
    
                                </div>
                            </section>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>







            <div class="col-md-4 col-lg-2">
                <div class="sidebar">
                    <div class="sidebar-box-2">
                        <h2 class="heading">{{ 'stories.categorias' | translate  }}</h2>
                        <div class="fancy-collapse-panel">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">{{ 'stories.categoria.cuentos' | translate  }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Sport</a></li>
                                                <li><a href="#">Casual</a></li>
                                                <li><a href="#">Running</a></li>
                                                <li><a href="#">Jordan</a></li>
                                                <li><a href="#">Soccer</a></li>
                                                <li><a href="#">Football</a></li>
                                                <li><a href="#">Lifestyle</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">{{ 'stories.categoria.susurros' | translate  }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Sport</a></li>
                                                <li><a href="#">Casual</a></li>
                                                <li><a href="#">Running</a></li>
                                                <li><a href="#">Jordan</a></li>
                                                <li><a href="#">Soccer</a></li>
                                                <li><a href="#">Football</a></li>
                                                <li><a href="#">Lifestyle</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">{{ 'stories.categoria.canciones' | translate  }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">T-Shirt</a></li>
                                                <li><a href="#">Jacket</a></li>
                                                <li><a href="#">Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseThree">{{ 'stories.categoria.cultura' | translate  }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">T-Shirt</a></li>
                                                <li><a href="#">Jacket</a></li>
                                                <li><a href="#">Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-box-2">
                        <h2 class="heading">Price Range</h2>
                        <form method="post" class="colorlib-form-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="guests">Price from:</label>
                                        <div class="form-field">
                                            <i class="icon icon-arrow-down3"></i>
                                            <select name="people" id="people" class="form-control">
                                                <option value="#">1</option>
                                                <option value="#">200</option>
                                                <option value="#">300</option>
                                                <option value="#">400</option>
                                                <option value="#">1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="guests">Price to:</label>
                                        <div class="form-field">
                                            <i class="icon icon-arrow-down3"></i>
                                            <select name="people" id="people" class="form-control">
                                                <option value="#">2000</option>
                                                <option value="#">4000</option>
                                                <option value="#">6000</option>
                                                <option value="#">8000</option>
                                                <option value="#">10000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>