.title-culture{

    text-align: center;
}


.text-culture{
    text-align: -webkit-center;

}

.banner-culture{
padding: 2em 0em;

    
}
.category-culture-title{

    color: rgb(201, 58, 58);
}

.div-culture{

    background: #dbcc8f;


}

.div-content-culture{
    margin-top: 1em;
    margin-block-end: 1em;
    background: cornsilk;
}

